*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-block-start: 133px;
  margin-inline-start: 30px;
}

.result {
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
}

.result__video {
  min-width: 711px;
  max-width: 711px;
  /* здесь подумать */
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-block-start: 16px;
  align-items: center;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;

  gap: 5px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  min-width: 215px;
  appearance: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

input[type="checkbox"]:disabled + span {
} /* выключённый */
input[type="checkbox"]:checked {
} /* выбранный */
input[type="checkbox"]:focus-visible {
} /* в фокусе */

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox:checked {
  background-color: white;
}

.button.search-form__submit-button {
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 26px;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

/* Название */
.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

/* Список городов справа */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: space-between;
}

.content__list {
  max-height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:active {
  /* display: flex;
  justify-content: space-between; */
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline white;
}

.content__video-card-thumbnail {
  max-width: 194px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.button.more-button {
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline white;
}

/* Экран ошибки */

.error-template {
}
