*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

/* _____видео______ */
.result {
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
  display: block;
  width: 711px;
  height: 386px;
  margin-block-end: 11px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* _________форма поиска_______ */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* ___________Поиск по имени_________ */
.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-width: 225px;
  appearance: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* __Кастомная textarea__  */
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-color: transparent;
  outline: 1px solid white;
}

.search-form__label:has(:focus-visible) .search-form__textfield:not(:active) {
  outline: 1px solid white;
  outline-offset: 1px;
}

/* __________чекбоксы_________ */
.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

/* ______________ВРЕМЯ СУТОК__________ */
.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__pseudo-checkbox:active {
  border: 3px double #1b1919;
  background-color: white;
}

input[type="checkbox"]:checked + span {
  border: 3px double #1b1919;
  background-color: white;
}

/* _________Кнопка поиска______ */
.button.search-form__submit-button {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 26px;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;

  cursor: pointer;
}

/* Название Посмотри в окно */
.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

/* Список городов справа */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

.content__list {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

/* ____Карточки___ */

.content__video-card {
  display: flex;
  justify-content: space-between;
  outline: 0;
  box-shadow: none;
  height: 107px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline white;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline white;
}

.content__card-link:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__card-link_current {
  background-color: #545050;
}

/*_____ контент в карточках _____ */

.content__video-card-thumbnail {
  /* max-width: 194px; */

  width: 194px;
  height: 103px;
  align-self: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px 0 0 2px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.button.more-button {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;

  width: 100%;

  cursor: pointer;
}

/* _____Кнопощки____ */

.button:hover {
  text-decoration: underline white;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}
.button.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.more-button:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}
